body {
margin: 0;
padding: 0;
background: linear-gradient(to bottom right, #ffe6eb, #fff0f5);
font-family: 'Comic Sans MS', cursive, sans-serif;
text-align: center;
}




.container {
max-width: 800px;
margin: 50px auto;
background: white;
padding: 40px;
border-radius: 20px;
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
text-align: center;
}




h1 {
color: #d6336c;
font-size: 2.8rem;
margin-bottom: 20px;
}


.intro {
font-size: 1.4rem;
margin-bottom: 15px;
}


.message {
font-size: 1.3rem;
color: #444;
}


.video-box {
margin-top: 30px;
}


.video-box p {
font-size: 1.2rem;
color: #d6336c;
}


iframe {
width: 100%;
height: 300px;
border-radius: 15px;
border: none;
}


.ending {
margin-top: 30px;
font-size: 1.2rem;
color: #555;
}
